@import "bulma/bulma";
@import "@fontsource/inter/300.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "@fontsource/exo/300.css";

@import 'circles.scss';

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
    min-height: 100vh;
}

.container {
    margin: 0px;
    // padding: 0px;
}

.logo {
    width: 240px;
    height: 240px;
}

.has-text-light-green {
    color: #9EDF50;
}

.has-text-dark-blue {
    color: #264653;
}

.navbar {
    background-color: transparent;
}

.navbar-item:hover {
    background-color: transparent;
    text-decoration: underline;
}

.navbar-link:hover {
    background-color: transparent;
    text-decoration: underline;
}